.articles-list {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.article-card {
    margin: 1rem;
    width: 20em;
}

.articles-header {
    display: flex;
    justify-content: space-between;
}

.card-link {
    color: inherit;
    text-decoration: inherit;
}

.article-date {
    margin-top: 0;
    padding: 0;
}

.article-title {
    text-align: center;
}

.articles-footer {
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
}

.card-body {
    margin-top: 0;
}