.comment-cards-container {
    width: 40em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline: 1em;
}

.comment-card {
    margin-top: 1em;
    transition: 0.3s linear;
}

.delete {
    opacity: 0;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-votes {
    margin-left: auto;
}