.comment-cards-container {
    width: 40em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline: 1em;
}

.comment-card {
    margin-top: 1em;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-footer {
    text-align: right;
}