.items-per-page-container {
  font-size: 1em;
}

.items-per-page {
  margin-left: 0.5em;
  width: 4rem;
  text-align: center;
}

.sort-select-container {
  margin-inline: 8em;
  display: flex;
  margin-top: 0.5em;
  justify-content: space-between;
}

.sort-select {
  margin-right: 0.5em;
}
